/*header开始*/
html{
	font-size: 100%;
	
}
header{
	width: 100%;
	background: #333333;
	position: fixed;
	top: 0;
	z-index: 12345;
}
header nav{
	max-width: 1030px;
	min-width: 320px;
	margin: 0 auto;
	position: relative;
}
.header{height: 80px;width: 100%;}

header nav h1{
	width: 16.6%;
	float: left;
	padding-top: 2%;
	padding-left: 2.5%;
}
header nav p{
	display: none;
}
header nav>img{
	display: none;
}
header nav ul{
	width: 77%;
	float: right;
}
header nav li{
	width: 13%;
	float: left;
	line-height: 80px;
	text-align: center;
}
header nav li:first-of-type{
	width: 10%;
}
header nav li a{
	font-size: 75%;
	color: #fff;
	display: block;	
	transition: 0.5s;
}
header nav li a:active{
	background: #5c5c5c;
}
header nav li:first-of-type{
	width: 8%;
}
.ul_1{
	display: none !important;
}

/*.none{display: none;}*/


/*footer开始*/
footer{
	width: 100%;
	background: #333;
}
footer ul{
	max-width: 1000px;
	min-width: 300px;
	margin: 0 auto;
	padding-left: 16%;
	padding-bottom: 14px;
	padding-top: 40px;
}
footer li{
	width: 40%;
	float: left;
	padding-bottom: 20px;
}
footer li strong{
	display: block;
	width:25%;
	float: left;
	font-size: 75%;
	color: #fff;
	line-height: 30px;
}
footer li p{
	width: 75%;
	float: left;
	font-size: 75%;
	color: #fff;
	line-height: 30px;
}
footer li:last-of-type p{
	width: 71.320%;
}
