/*header开始*/
html{
	font-size: 100%;
	
}
header{
	height: 55px;
	width: 100%;
	background: #333333;
	position: fixed;
	top: 0;
	z-index: 12345;
}
header nav{
	max-width: 1030px;
	min-width: 320px;
	margin: 0 auto;
	position: relative;
}

header nav h1{
	width: 25%;
	float: left;
	padding-top: 11px;
	padding-left: 2.5%;
}
header nav ul{
	width: 80px;
	float: right;
	position: absolute;
	top: 90%;
	right: 5%;
	background: #666;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
header nav p{
	font-size: 162.5%;
	color: #fff;
	height: 70px;
	line-height: 70px;
	width: 75%;
	float: right;
	display: none;
}

header nav>img{
	width: 32px;
	height: 28px;
	position: absolute;
	top: 20%;
	right: 10%;
}
.ul_1{
	width: 94%;
	background: #434242;
	padding-left:6%;
}
.ul_1 li{
	width: 23%;
	float: left;
	text-align: center;
	line-height: 30px;
}

.ul_1 li a{
	font-size: 75%;
	color: #fff;
	display: block;
}
.header{height: 55px;  width: 100%;}
.none{display: none;}

/*footer开始*/
footer{
	width: 100%;
	background: #333;

}
footer ul{
	max-width: 1030px;
	min-width: 320px;
	margin: 0 auto;
	padding-bottom: 54px;
}
footer li:nth-of-type(3),footer li:last-of-type{
	padding-top: 20px;
}
footer li{
	width: 75%;
	padding-top: 15px;
	padding-left: 22%;
}
footer li:first-of-type{
	padding-top: 50px;
}
footer li strong{
	display: block;
	width: 20%;
	float: left;
	font-size: 75%;
	color: #fff;
	line-height: 20px;
	text-align: right;
	padding-right: 5%;
}
footer li p{
	width: 51%;
	float: left;
	font-size: 75%;
	color: #fff;
	line-height: 20px;
}
footer li:last-of-type{
	padding-bottom: 0;
}
footer li:last-of-type p:last-of-type{
	width: 40%;
}
