html{
	font-size: 100%;
}
body{
	font-size: 1em;
}
header nav li:nth-of-type(2),
header nav li:nth-of-type(5){
	background: none;
}
header nav li:nth-of-type(8){
	background: #5c5c5c;	
}
/*container开始 大于1017*/
.container{
	max-width: 1017px;
	min-width: 320px;
	margin: 0 auto;
	text-align: center;
}

.container h4{
	font-size: 1.125em;
	color: #FA9634;
	line-height: 50px;
}

.container p{
	font-size: 16px;
	line-height: 30px;
	color: #000;
	font-weight: normal;
}
.container p:first-of-type{
	font-size: 22px;
	font-weight: bold;
}
.container p strong{
	display: inline-block;
	padding-left: 5%;
	font-size: 22px;
	font-weight: bold;
}
.container img{
	display: block;
	width: 65%;
	margin: 32px auto 70px auto;
}
.ul_1 li:last-of-type a{
	background: #545252;
}
